{% load static %}
<!doctype html>
<html lang="en">

<head>
  <title>SVU HEALTH CENTRE</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <!-- Bootstrap core CSS -->
  <link href="{%  static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
  <!-- Material Design Bootstrap -->
  <link href="{%  static 'css/mdb.min.css' %}" rel="stylesheet" type="text/css">
  <!-- Your custom styles (optional) -->
  <link href="{%  static 'css/style.css' %}" rel="stylesheet" type="text/css">
  <!-- Material Kit CSS -->
  <link href="{%  static 'css/dashboard2.css' %}" rel="stylesheet" /></head>

<body>
  <div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white">
      <!--
      Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

      Tip 2: you can also add an image using data-image tag
  -->
      <div class="logo">
        <img src="{% static 'img/Sv-University-logo2.png' %}" height="80" width="100" alt="logo" class="simple-text logo-mini ml-5" >
        <a class="simple-text logo-normal mr-5">
          SVU HEALTH CENTRE
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/Staff/StaffPage/ManageStudents/">
             <i class="fas fa-user-graduate"></i>
              <p>Students</p>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/Staff/StaffPage/ManageFaculty/">
              <i class="fas fa-user-tie"></i>
              <p>Faculty</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Staff/StaffPage/ManageStaff/">
              <i class="fas fa-user-nurse"></i>
              <p>Staff</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Staff/StaffPage/ManageStock/">
              <i class="fas fa-medkit"></i>
              <p>Stock</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item active">
                <a class="nav-link" href="/Staff/StaffPage/ManageStudents/">
                  <i class="material-icons">dashboard</i> Dashboard
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/Staff/StaffPage/Logout/">
                  <i class="fas fa-sign-out-alt fa-2x"></i> LogOut
                </a>
              </li>
              <!-- your navbar here -->
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
            <div class="row">
<div class="card-deck ml-4">

<div class="card border-primary mb-3" style="max-width: 23rem;">
  <div class="card-body text-primary">
    <h5 class="card-title"><i class="fas fa-file-signature fa-2x"></i> Generate OP</h5>
    <p class="card-text">Click Here to Generate OP for Registered Students.</p>
    <a class="btn blue-gradient" href="#">Generate OP</a>
  </div>
</div>
<div class="card-deck">
<div class="card border-primary mb-3" style="max-width: 23rem;">
  <div class="card-body text-primary">
    <h5 class="card-title"><i class="fas fa-address-card fa-2x"></i> Issue Medicines</h5>
    <p class="card-text">Click Here to Issue Medicines For Generated OP's.</p>
    <a class="btn blue-gradient" href="#">Issue Medicines</a>
  </div>
</div>

<div class="card border-primary mb-3" style="max-width: 23rem;">
  <div class="card-body text-primary">
    <h5 class="card-title"><i class="fas fa-id-badge fa-2x"></i> Issued OP's</h5>
    <p class="card-text">Click Here to view Details Of Issued OP's.</p>
    <a class="btn blue-gradient" href="#">Issued OP's</a>
  </div>
</div>
    </div>

</div>

</div>
        </div>
      </div>
      <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>
              <li>
                <a href="#">
                  SVU HEALTH CENTRE
                </a>
              </li>
            </ul>
          </nav>
          <div class="copyright float-right">
            &copy;
            <script>
              document.write(new Date().getFullYear())
            </script>, svuhealthcenter.org.
          </div>
          <!-- your footer here -->
        </div>
      </footer>
    </div>
  </div>
  <script type="text/javascript" src="{%  static 'js/jquery-3.3.1.min.js' %}"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="{%  static 'js/popper.min.js' %}"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="{%  static 'js/bootstrap.min.js' %}"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="{%  static 'js/mdb.js' %}"></script>
</body>

</html>