{% load static %}
<!doctype html>
<html lang="en">

<head>
  <title>SVU HEALTH CENTRE</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <!-- Bootstrap core CSS -->
  <link href="{%  static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
  <!-- Material Design Bootstrap -->
  <link href="{%  static 'css/mdb.min.css' %}" rel="stylesheet" type="text/css">
  <!-- Your custom styles (optional) -->
  <link href="{%  static 'css/style.css' %}" rel="stylesheet" type="text/css">
  <!-- Material Kit CSS -->
  <link href="{%  static 'css/dashboard2.css' %}" rel="stylesheet" /></head>

<body>
  <div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white">
      <!--
      Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

      Tip 2: you can also add an image using data-image tag
  -->
      <div class="logo">
        <img src="{% static 'img/Sv-University-logo2.png' %}" height="80" width="100" alt="logo" class="simple-text logo-mini ml-5" >
        <a class="simple-text logo-normal mr-5">
          SVU HEALTH CENTRE
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item active  ">
            <a class="nav-link" href="/Staff/StaffPage/ManageStudents/">
              <i class="material-icons">dashboard</i>
              <p>Students</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Staff/StaffPage/ManageFaculty/">
              <i class="material-icons">dashboard</i>
              <p>Faculty</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Staff/StaffPage/ManageStaff/">
              <i class="material-icons">dashboard</i>
              <p>Staff</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Staff/StaffPage/ManageStock/">
              <i class="material-icons">dashboard</i>
              <p>Stock</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item active">
                <a class="nav-link" href="#">
                  <i class="material-icons">dashboard</i> Dashboard
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/Staff/StaffPage/LogOut/">
                  <i class="material-icons">notifications</i> LogOut
                </a>
              </li>
              <!-- your navbar here -->
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">

<div class="col-md-10 ml-5">
<div class="table-responsive" id="printableArea">
            <table class="table" id="StudentDetails">
              <thead>
                <tr><th><img src="{%  static 'img/Sv-University-logo2.png' %}" height="80" width="100" alt="svu logo"></th>
                    <th colspan="2"><h3>SVU HEALTH CENTRE OP FORM</h3></th></tr>
              </thead>
              <tbody>


                            <tr>
                                <td><h6>OP Number : {{ op_no.OPNumber }}</h6></td>
                                <td><h6>Admision Number : {{ Details.Admission_number }}</h6></td>
                                <td><h6>Date : {% now "d-m-Y" %}</h6></td>
                            </tr>
                            <tr>
                                <td><h6>Student Name : {{ Details.Student_name }}</h6></td>
                                <td><h6>Age : {{ Details.Age }}</h6></td>
                                <td><h6>Contact Number : {{ Details.contact_no }}</h6></td>
                            </tr>
                            <tr>
                                <td colspan="3"></td>
                            </tr>

              </tbody>
            </table>
          </div>
<center><a class="btn btn-indigo" onclick="printDiv('printableArea')">Print OP</a>
  </center>
  </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>
              <li>
                <a href="#">
                  SVU HEALTH CENTRE
                </a>
              </li>
            </ul>
          </nav>
          <div class="copyright float-right">
            &copy;
            <script>
              document.write(new Date().getFullYear())
            </script>, svuhealthcenter.org.
          </div>
          <!-- your footer here -->
        </div>
      </footer>
    </div>
  </div>
  <script type="text/javascript" src="{%  static 'js/jquery-3.3.1.min.js' %}"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="{%  static 'js/popper.min.js' %}"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="{%  static 'js/bootstrap.min.js' %}"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="{%  static 'js/mdb.js' %}"></script>
  <script >
 function printContent(el){
   var restorepage = document.body.innerHTML;
   var printcontent= document.getElementById(el).innerHTML;
   document.body.innerHTML=printcontent;
   window.print();
   document.body.innerHTML=restorepage;
 }
 </script>
<script>
  function printDiv(divName) {
     var printContents = document.getElementById(divName).innerHTML;
     var originalContents = document.body.innerHTML;

     document.body.innerHTML = printContents;

     window.print();

     document.body.innerHTML = originalContents;
}

</script>
</body>

</html>