{% load static %}
<!doctype html>
<html lang="en">

<head>
  <title>SVU HEALTH CENTRE</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <!-- Bootstrap core CSS -->
  <link href="{%  static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
  <!-- Material Design Bootstrap -->
  <link href="{%  static 'css/mdb.min.css' %}" rel="stylesheet" type="text/css">
  <!-- Your custom styles (optional) -->
  <link href="{%  static 'css/style.css' %}" rel="stylesheet" type="text/css">
  <!-- Material Kit CSS -->
  <link href="{%  static 'css/dashboard2.css' %}" rel="stylesheet" /></head>

<body>
  <div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white">
      <!--
      Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

      Tip 2: you can also add an image using data-image tag
  -->
      <div class="logo">
        <img src="{% static 'img/Sv-University-logo2.png' %}" height="80" width="100" alt="logo" class="simple-text logo-mini ml-5" >
        <a class="simple-text logo-normal mr-5">
          SVU HEALTH CENTRE
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item active  ">
            <a class="nav-link" href="/Staff/StaffPage/ManageStudents/">
             <i class="fas fa-user-graduate"></i>
              <p>Students</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Staff/StaffPage/ManageFaculty/">
              <i class="fas fa-user-tie"></i>
              <p>Faculty</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Staff/StaffPage/ManageStaff/">
              <i class="fas fa-user-nurse"></i>
              <p>Staff</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Staff/StaffPage/ManageStock/">
              <i class="fas fa-medkit"></i>
              <p>Stock</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item active">
                <a class="nav-link" href="/Staff/StaffPage/ManageStudents/">
                  <i class="material-icons">dashboard</i> Dashboard
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/Staff/StaffPage/Logout/">
                  <i class="fas fa-sign-out-alt fa-2x"></i> LogOut
                </a>
              </li>
              <!-- your navbar here -->
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
        <div class="ml-4">
        <div class="card offset-md-2 offset-sm-0 " style="max-width: 50rem;">
    <div class="card-header text-center light-blue darken-3 white-text ">
    <h4 class="card-title white-text"><i class="fas fa-notes-medical"></i> Student Medicine Issue!</h4>
    </div>
    <div class="card-body p-5">

<form method="POST" action="">

      {% csrf_token %}

        <div class="row">
         <div class="col-md-4">
        <div class="md-form mb-5">
          <i class="fas fa-calendar-plus prefix grey-text"></i>
          <input type="text"  class="form-control" name="issue_date" value="{% now "Y-m-d" %}" readonly>
          <label >Medicine Issue Date</label>
        </div>
         </div>

        <div class="col-md-4">
        <div class="md-form mb-5">
          <i class="fas fa-calendar-plus prefix grey-text"></i>
          <input type="text" id="contact" class="form-control" name="op_number" value="{{ op.OPNumber }}" readonly>
          <label >Op Number</label>
        </div>
         </div>

        <div class="col-md-4">
           <div class="md-form mb-5">
             <i class="fab fa-invision prefix grey-text"></i>
             <input type="text" id="sid" class="form-control" name="Admission_number" value="{{ op.AdmissionNumber }}" readonly>
             <label >Admission Number</label>
           </div>
        </div>
        </div>

      <div id="czContainer">
            <div id="first">
                <div class="recordset">
                    <div class="fieldRow clearfix">
                       <div class="row">
                        <div class="col-md-4">
                            <div id="tab_0_name" class="md-form mb-5">
                                <select class="browser-default custom-select" name="tab_0_name" id="tab_0_name">
                                    <option disabled selected>Tablet Name</option>
                                    {% for tab in tabs %}
                                    <option value="{{ tab.TabletName }}">{{ tab.TabletName }}</option>
                                    {% endfor %}
                                  </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div id="tab_0_qty" class="md-form mb-5">
                                    <i class="fas fa-clipboard-list prefix grey-text"></i>
                                    <input type="text" class="form-control" id="tab_0_qty" name="tab_0_qty">
                                    <label>Quantity</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div id="tab_0_rate" class="md-form mb-5">
                               <i class="fas fa-hand-holding-usd prefix grey-text"></i>
                               <input type="text" class="form-control" id="tab_0_rate" name="tab_0_rate">
                               <label>Rate/unit</label> </div>
                            </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>

        <div class="col-md-6">
          <div class="md-form mb-5">
            <i class="fas fa-toilet-paper prefix grey-text"></i>
            <input type="text" id="sname" class="form-control" name="total_bal">
            <label >Total Balance</label>
          </div>
        </div>


        <p>{{ message }}</p>
      <div class="text-center">
        <button class="btn btn-default" type="submit">Issue Medicine</button>
      </div>
</form>
 </div>



</div>
</div>
        </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>
              <li>
                <a href="#">
                  SVU HEALTH CENTRE
                </a>
              </li>
            </ul>
          </nav>
          <div class="copyright float-right">
            &copy;
            <script>
              document.write(new Date().getFullYear())
            </script>, svuhealthcenter.org.
          </div>
          <!-- your footer here -->
        </div>
      </footer>
    </div>
  </div>
  <script type="text/javascript" src="{%  static 'js/jquery-3.3.1.min.js' %}"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="{%  static 'js/popper.min.js' %}"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="{%  static 'js/bootstrap.min.js' %}"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="{%  static 'js/mdb.js' %}"></script>
  <script type="text/javascript">
        (function ($, undefined) {
    $.fn.czMore = function (options) {

        //Set defauls for the control
        var defaults = {
            max: 5,
            min: 0,
            onLoad: null,
            onAdd: null,
            onDelete: null,
            styleOverride: false,
        };
        //Update unset options with defaults if needed
        var options = $.extend(defaults, options);
        $(this).bind("onAdd", function (event, data) {
            options.onAdd.call(event, data);
        });
        $(this).bind("onLoad", function (event, data) {
            options.onLoad.call(event, data);
        });
        $(this).bind("onDelete", function (event, data) {
            options.onDelete.call(event, data);
        });
        //Executing functionality on all selected elements
        return this.each(function () {
            var obj = $(this);
            var i = obj.children(".recordset").length;
            var divPlus = '<i class="fas fa-2x fa-plus-square md-form mb-5" id="btnPlus"></i>';
            var count = '<input id="' + this.id + '_czMore_txtCount" name="' + this.id + '_czMore_txtCount" type="hidden" value="0" size="5" />';

            obj.before(count);
            var recordset = obj.children("#first");
            obj.after(divPlus);
            var set = recordset.children(".recordset").children().first();
            var btnPlus = obj.siblings("#btnPlus");

            if(!options.styleOverride) {
              btnPlus.css({
                  'float': 'right',
                      'border': '0px',

                      'background-position': 'center center',
                      'background-repeat': 'no-repeat',
                      'height': '25px',
                      'width': '25px',
                  'cursor': 'pointer',
              });
            }

            if (recordset.length) {
                obj.siblings("#btnPlus").click(function () {
                    var i = obj.children(".recordset").length;
                    var item = recordset.clone().html();
                    i++;
                    item = item.replace(/\[([0-9]\d{0})\]/g, "[" + i + "]");
                    item = item.replace(/\_([0-9]\d{0})\_/g, "_" + i + "_");
                    //$(element).html(item);
                    //item = $(item).children().first();
                    //item = $(item).parent();

                    obj.append(item);
                    loadMinus(obj.children().last());
                    minusClick(obj.children().last());
                    if (options.onAdd != null) {
                        obj.trigger("onAdd", i);
                    }

                    obj.siblings("input[name$='czMore_txtCount']").val(i);
                    return false;
                });
                recordset.remove();
                for (var j = 0; j <= i; j++) {
                    loadMinus(obj.children()[j]);
                    minusClick(obj.children()[j]);
                    if (options.onAdd != null) {
                        obj.trigger("onAdd", j);
                    }
                }

                if (options.onLoad != null) {
                    obj.trigger("onLoad", i);
                }
                //obj.bind("onAdd", function (event, data) {
                //If you had passed anything in your trigger function, you can grab it using the second parameter in the callback function.
                //});
            }

            function resetNumbering() {
                $(obj).children(".recordset").each(function (index, element) {
                   $(element).find('input:text, input:password, input:file, select, textarea').each(function(){
                        old_name = this.name;
                        new_name = old_name.replace(/\_([0-9]\d{0})\_/g, "_" + (index + 1) + "_");
                        this.id = this.name = new_name;
                        //alert(this.name);
                    });
                    index++
                    minusClick(element);
                });
            }

            function loadMinus(recordset) {
                var divMinus = '<i class="fas fa-times fa-2x md-form mb-5" id="btnMinus"></i>';
                $(recordset).children().first().before(divMinus);
                var btnMinus = $(recordset).children("#btnMinus");
                if(!options.styleOverride) {
                  btnMinus.css({
                      'float': 'right',
                      'border': '0px',

                      'background-position': 'center center',
                      'background-repeat': 'no-repeat',
                      'height': '25px',
                      'width': '25px',
                      'cursor': 'poitnter',
                  });
              }
            }

            function minusClick(recordset) {
                $(recordset).children("#btnMinus").click(function () {
                    var i = obj.children(".recordset").length;
                    var id = $(recordset).attr("data-id")
                    $(recordset).remove();
                    resetNumbering();
                    obj.siblings("input[name$='czMore_txtCount']").val(obj.children(".recordset").length);
                    i--;
                    if (options.onDelete != null) {
                        if (id != null)
                            obj.trigger("onDelete", id);
                    }
                });
            }
        });
    };
})(jQuery);
        $("#czContainer").czMore();
    </script>
</body>

</html>