{% load static %}
<!doctype html>
<html lang="en">

<head>
  <title>SVU HEALTH CENTRE</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <!-- Bootstrap core CSS -->
  <link href="{%  static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
  <!-- Material Design Bootstrap -->
  <link href="{%  static 'css/mdb.min.css' %}" rel="stylesheet" type="text/css">
  <!-- Your custom styles (optional) -->
  <link href="{%  static 'css/style.css' %}" rel="stylesheet" type="text/css">
  <!-- Material Kit CSS -->
  <link href="{%  static 'css/dashboard2.css' %}" rel="stylesheet" /></head>

<body>
  <div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white">
      <!--
      Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

      Tip 2: you can also add an image using data-image tag
  -->
      <div class="logo">
        <img src="{% static 'img/Sv-University-logo2.png' %}" height="80" width="100" alt="logo" class="simple-text logo-mini ml-5" >
        <a class="simple-text logo-normal mr-5">
          SVU HEALTH CENTRE
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/Admin/AdminPage/ManageStudent/">
              <i class="material-icons">supervisor_account</i>
              <p>Manage Students</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Admin/AdminPage/ManageStaff/">
              <i class="material-icons">group_add</i>
              <p>Manage Staff</p>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/Admin/AdminPage/ManageStock/">
              <i class="material-icons">add_shopping_cart</i>
              <p>Manage Stock</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item active">
                <a class="nav-link" href="/Admin/AdminPage/ManageStudent/">
                  <i class="material-icons">dashboard</i> Dashboard
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/Admin/Logout/">
                  <i class="fas fa-sign-out-alt fa-2x"></i> LogOut
                </a>
              </li>
              <!-- your navbar here -->
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
        <!--message-->
            {% if messages %}
                {% for msg in messages %}
                    <div class="alert alert-success alert-with-icon" data-notify="container">
                    <i class="material-icons" data-notify="icon">add_alert</i>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <i class="material-icons">close</i>
                    </button>
                    <span data-notify="message">{{msg.message}}</span>
                  </div>
                {% endfor %}
            {% endif %}
          <!--message ending-->
        {% if records %}
            <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Products Details</h4>
                  <p class="card-category"> These are the Medicines Available in MainStore..</p>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <tr>


                  <th>Tablet Name</th>
                  <th>Total Tablets Available</th>
                  <th>Rate/Unit</th>


                  </tr>
                      </thead>
                      <tbody>
                       {% for items in records %}
                        <tr>
                          <td>{{ items.TabletName}}</td>
                          <td>{{ items.TotalTabs }}</td>
                          <td>{{ items.RatePerUnit }}</td>

                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
        {% else %}
        <div class="alert alert-success alert-with-icon" data-notify="container">
                    <i class="material-icons" data-notify="icon">add_alert</i>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <i class="material-icons">close</i>
                    </button>
                    <span data-notify="message">No Medicines available in Main Store to Display Here.</span>
                  </div>
        {% endif %}
        </div>
      </div>
      <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>
              <li>
                <a href="#">
                  SVU HEALTH CENTRE
                </a>
              </li>
            </ul>
          </nav>
          <div class="copyright float-right">
            &copy;
            <script>
              document.write(new Date().getFullYear())
            </script>, svuhealthcenter.org.
          </div>
          <!-- your footer here -->
        </div>
      </footer>
    </div>
  </div>
  <script type="text/javascript" src="{%  static 'js/jquery-3.3.1.min.js' %}"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="{%  static 'js/popper.min.js' %}"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="{%  static 'js/bootstrap.min.js' %}"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="{%  static 'js/mdb.js' %}"></script>
</body>

</html>